###############
# user config #
###############

## Please fill in a nick
nick=

user=Shellby
realname=Shellby Capek
hostname=0
servername=*

## You can provide a specific nickserv account to sign in as
account=

#####################
# connection config #
#####################

server=chat.freenode.org
port=6667

## Add the channels you want shellby to be in.
## Or admins can invite shellby to channels.
channels=

####################
# webserver config #
####################

## The bot uses an internal webserver to provide support for a number of
## features. Set the domain and port it should listen on.
serverDomain=
serverPort=

## If set shellby up with a reverse proxy, or are running it with the
## permissions to bind on port 80 (this is a bad idea). You can tell it to use
## links without a port specified.
# port80=true

############
# internal #
############

tmpdir=/tmp
