#!/bin/bash

###############
# user config #
###############

# Please fill in a nick
NICK=

USER=Shellby
REALNAME="Shellby Capek"
HOSTNAME="0"
SERVERNAME="*"

#####################
# connection config #
#####################

TARGETSERVER="chat.freenode.org"
PORT=6667

# Add the channels you want shellby to be in.
# Or admins can invite shellby to channels.
CHANNELS=( )

############
# internal #
############

TMPDIR="/tmp"
